/* Overall styles */
body {
  font-family: 'Lato', sans-serif;
  color: #747704;
  font-weight: 300;
}

.text-muted {
  color: #BCB888;
  margin-top: 35px;
  font-size: 35px;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 55px;
}

/* Header Sytles */
.title-logo {
  margin-top: 20px;
}

.social {
  padding-left: 5px;
  margin-bottom: -95px;
  
}

hr {
border-width: 5px;
}

/* Intro Styling */

.jumbotron {
  background-image: url("../images/Screenshot.png");
  background-size: cover;
}

.intro-head {
  font-family: 'Homemade Apple', cursive;
  font-size: 3em;
  color: white;
}

.intro-p {
  color: white;
  font-weight: 300;
  font-size: 1.5em;
}

.main-header {
  background-color: rgba(0, 0, 0, 0.7);
  /*padding: 2px, 0, 1px, 8px;*/
  }

/* Feature app styling */

.app-image {
  box-shadow: 3px 3px 1px #BCB888;
}

/* Footer Sytling */
.footer {
  margin-top: 25px;
}